<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
    Senses in Motion 2026</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/draft-programme">Draft Programme</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/directions">Directions</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Previous Meetings</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/sim2022">Senses in Motion 2022</a>          
          <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}/sim2024">Senses in Motion 2024</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>
